body {
  color: white;
  background: #1c1919;
}

button {
  width: 300px;
  height: 300px;
  margin: 0 -2px;
  padding: 0;

  cursor: pointer;

  border: 10px solid #2d2a2a;
  outline: none;
}

h1 {
  text-align: center;

  font-size: 38pt;
  letter-spacing: -6px;

  font-family: 'Poppins', sans-serif;
}

#buttons-container {
  position: relative;

  width: 800px;
  margin: 0 20% !important;
}
#blue {
  border-bottom-right-radius: 100%;
  background: rgba(66, 134, 244, 0.5);
}
#blue:hover {
  background: rgba(66, 134, 244, 1.0);
}
#yellow {
  border-bottom-left-radius: 100%;
  background: rgba(239, 206, 38, 0.5);
}
#yellow:hover {
  background: rgba(239, 206, 38, 1.0);
}
#red {
  border-top-right-radius: 100%;
  background: rgba(239, 66, 43, 0.5);
}
#red:hover {
  background: rgba(239, 66, 43, 1.0);
}
#green {
  border-top-left-radius: 100%;
  background: rgba(127, 232, 53, 0.5);
}
#green:hover {
  background: rgba(127, 232, 53, 1.0);
}

#score-counter {
  position: absolute;
  top: 100%;
  left: 50%;

  box-sizing: border-box;
  width: 200px;
  height: 200px;
  margin-top: -400px;
  margin-left: -204px;

  text-align: center;

  color: #fff;
  border-radius: 50%;
  background-color: #2d2a2a;

  font-family: arial;
  font-size: 32pt;
  line-height: 200px;

}
